## Assignment 1: Creating and Accessing Tuples

In [1]:

int_tuple = tuple(range(1, 11))
print(int_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

## Assignment 2: Accessing Tuple Elements

In [2]:

print(f"First element: {int_tuple[0]}")
middle_index = len(int_tuple) // 2
print(f"Middle element: {int_tuple[middle_index]}")
print(f"Last element: {int_tuple[-1]}")

First element: 1
Middle element: 6
Last element: 10

## Assignment 3: Tuple Slicing

In [3]:

print(f"First three elements: {int_tuple[:3]}")
print(f"Last three elements: {int_tuple[-3:]}")
print(f"Elements from index 2 to 5: {int_tuple[2:6]}")

First three elements: (1, 2, 3)
Last three elements: (8, 9, 10)
Elements from index 2 to 5: (3, 4, 5, 6)

## Assignment 4: Nested Tuples

In [4]:

matrix_tuple = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Matrix:")
for row in matrix_tuple:
    print(row)

# Access element at second row and third column
print(f"Element at second row and third column: {matrix_tuple[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column: 6

## Assignment 5: Tuple Concatenation

In [5]:

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

## Assignment 6: Tuple Methods

In [6]:

duplicate_tuple = (1, 2, 3, 2, 4, 2, 5)
print(f"Occurrences of 2: {duplicate_tuple.count(2)}")
print(f"Index of first occurrence of 2: {duplicate_tuple.index(2)}")

Occurrences of 2: 3
Index of first occurrence of 2: 1

## Assignment 7: Unpacking Tuples

In [7]:

unpack_tuple = (10, 20, 30, 40, 50)
a, b, c, d, e = unpack_tuple
print(f"Unpacked values: {a}, {b}, {c}, {d}, {e}")

Unpacked values: 10, 20, 30, 40, 50

## Assignment 8: Tuple Conversion

In [8]:

int_list = [1, 2, 3, 4, 5]
converted_tuple = tuple(int_list)
print(converted_tuple)

(1, 2, 3, 4, 5)

## Assignment 9: Tuple of Tuples

In [9]:

tuple_of_tuples = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tuple_of_tuples)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

## Assignment 10: Tuple and List

In [10]:

tuple1 = (1, 2, 3, 4, 5)
list_version = list(tuple1)
list_version.append(6)
result_tuple = tuple(list_version)
print(result_tuple)

(1, 2, 3, 4, 5, 6)

## Assignment 11: Tuple and String

In [11]:

char_tuple = tuple("hello")
joined_string = ''.join(char_tuple)
print(joined_string)

hello

## Assignment 12: Tuple and Dictionary

In [12]:

tuple_dict = {
    (1, 2): 10,
    (3, 4): 20,
    (5, 6): 30
}
print(tuple_dict)

{(1, 2): 10, (3, 4): 20, (5, 6): 30}

## Assignment 13: Nested Tuple Iteration

In [13]:

nested_tuple = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

for row in nested_tuple:
    for elem in row:
        print(elem, end=' ')
    print()

1 2 3
4 5 6
7 8 9

## Assignment 14: Tuple and Set

In [14]:

duplicate_tuple = (1, 2, 3, 2, 4, 2, 5)
unique_set = set(duplicate_tuple)
print(unique_set)

{1, 2, 3, 4, 5}

## Assignment 15: Tuple Functions

In [15]:

def tuple_min(tup):
    return min(tup)

def tuple_max(tup):
    return max(tup)

def tuple_sum(tup):
    return sum(tup)

sample_tuple = (10, 20, 30, 40, 50)
print(f"Minimum: {tuple_min(sample_tuple)}")
print(f"Maximum: {tuple_max(sample_tuple)}")
print(f"Sum: {tuple_sum(sample_tuple)}")

Minimum: 10
Maximum: 50
Sum: 150